<h2>Login</h2>
<!-- <a href="/home"><<p>Home</p></a> -->
<form method="post" action="/login">
	<input type="text" placeholder="Email" name="user[email]"><br>
	<input type="password" placeholder="Password" name="user[password]"><br>
	<input type="submit" value="Login">
</form>